<h1>Medications</h1>
<ul>
	<% @medications.each do |m| %>
	<li>
		<strong><%= m.name %> </strong> -- 
		<%= m.dosage %>
		<i><%= link_to "Edit", edit_doctor_patient_medication_path(@patient.id, m.id) %></i>
	</li>
	<% end %>
</ul>

<%= link_to "Create New Medications", new_doctor_patient_medication_path(@patient.id) %>
