<h1>Medications</h1>
<ul>
	<% @medications.each do |m| %>
	<li>
		<strong><%= m.name %> </strong>
		<i><%= link_to "Edit", user_medication_path(@user.id) %></i>
	</li>
	<% end %>
</ul>

<%= link_to "Create New Medications", new_user_medication_path(@user.id) %>
