<h1> Medications </h1>
<ul>
	<% @medications.each do |m| %>
	<li>
		<strong><%= m.name %> </strong> <br />
		Prescribed By: Dr. <%= m.prescribedby %> 
		<i><% link_to "Doctor Profile", doctor_path(m) %></i>
	</li>
	<% end %>
</ul>

<%= link_to "All Doctor Users", doctors_path %>
