<h1> Create New Medication </h1>

<%= form_for @medication do |f| %>
	Name: <%= f.text_field :name, placeholder: "Name" %><br />
	Prescribed By: <%= f.collection_select(:doctor_ids, Doctor.find(@patient.doctor_ids), :id, :last_name, {:prompt => "Please select a doctor"}) %> <br />
	<%= f.submit @button_face %>
<% end %>
