<h1>Patients</h1>
<ul>
	<% @patients.each do |p| %>
	<li>
		<strong><%= p.first_name p.last_name %> </strong> -- 
		<%= p.DOB %>
		<i><%= link_to "Edit", edit_patient_path(p.id) %></i>
	</li>
	<% end %>
</ul>

<%= link_to "Create New Patients", new_patient_path %>
