<h1>Patients</h1>
<ul>
	<% @patients.each do |p| %>
	<li>
		<strong><%= p.first_name p.last_name %> </strong> -- 
		<%= p.DOB %>
		<i><%= link_to "Edit", edit_doctor_patient_path(@doctor.id, p.id) %></i>
	</li>
	<% end %>
</ul>

<%= link_to "Add New Patients", new_doctor_patient_path(@doctor.id) %>
