<h1> <%= @patient.first_name %> <%= @patient.last_name %> </h1>

<h2> Patient Information </h2>


<h3> Contact Information </h3>

phone_number, :sex, :DOB, :blood_type, :medication_ids => [], :doctor_ids => [])



<%= link_to "Delete Patient", :patient, method: :delete, data: {confirm: "Are you sure you want to delete #{@patient.first_name} #{@patient.last_name }?"} %>


